body {
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 100px 200px; /*TODO: fix alignment of scores and game board*/
    display: flex;
    gap: 2rem;
}

.scoreboard {
    flex:1;
    color: #ddd;
    /* border: 2px solid #ddd; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.scoreboard .name {
    font-size: 4rem;
    /* text-decoration: underline; */
}

.scoreboard .score {
    font-size: 5rem;
}

.game-container {
    /* border: 2px solid #ddd; */
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.game-area {
    width: 500px;
    height: 500px;
    background-color: #999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.game-cel {
    background-color: #333;
    font-size: 6rem;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.game-cel:hover {
    background-color: #555;
}

.shake {
    animation: horizontal-shake 0.2s 1;
}

@keyframes horizontal-shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}


.line {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid firebrick;
    background-color: firebrick;
    border-radius: 2px;
    width: 0px;
    transform-origin: 0px 0px;
    transition: width 1s;
}

/* .horizontal.line {
    transform: translateY(80px) translateX(40px);
}

.vertical.line {
    transform: translateY(40px) translateX(250px) rotate(90deg) ;
}

.diagonal.line {
    transform: translate(28px, 28px) rotate(45deg);
} */

.showing {
    width: 420px;
}

.diagonal0.line.showing {
    width: 628px;
}

.diagonal2.line.showing {
    width: 628px;
}

dialog {
    background-color: rgb(221, 221, 221, 0.9);
    
}

dialog, dialog form {
    text-align: center;
    font-size: 2rem;
    margin: 60px auto;
}

dialog> *, dialog form > * {
    background: transparent;
    margin: 1rem;
}

label {
    font-style: italic;
}

input {
    font-size: inherit;
    background-color: inherit;
    width: 50%;
    border: none;
    border-bottom: 2px solid black;
}

input:focus {
    outline: none;
    border-bottom: 3px solid black;
}

#player_1:focus {
    background-color: rgb(0, 128, 128, 0.5);
}
#player_2:focus {
    background-color: rgba(128, 0, 100, 0.5);
}

button {
    margin-top: 2rem;
    font-size: inherit;
}
