body {
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    position: relative;
    margin: 100px auto;
    width: 500px;
    height: 500px;
}

.game-area {
    width: 500px;
    height: 500px;
    background-color: #999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.game-cel {
    background-color: #333;
    font-size: 6rem;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-cel:hover {
    background-color: #555;
}

.shake {
    animation: horizontal-shake 0.2s 1;
}

@keyframes horizontal-shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }


.line {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid firebrick;
    background-color: firebrick;
    border-radius: 2px;
    width: 0px;
    transform-origin: 0px 0px;
    transition: width 1s;
}

/* .horizontal.line {
    transform: translateY(80px) translateX(40px);
}

.vertical.line {
    transform: translateY(40px) translateX(250px) rotate(90deg) ;
}

.diagonal.line {
    transform: translate(28px, 28px) rotate(45deg);
} */

.showing {
    width: 420px;
}

.diagonal0.line.showing {
    width: 588px;
}

.diagonal2.line.showing {
    width: 588px;
}







.controls {
    width: 250px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.controls>button {
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
    background-color: rgb(50, 50, 216);
    border-radius: 3rem;
    color: #ddd;
}